{% extends "englicise/base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Englicise Achievements{% endblock %}

{% block page_content %}
<div class="page-header">
    <h3>Achievements</h3>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="table-responsive panel panel-info">
            <div class="panel-heading"><strong>Exercises</strong></div>
            <table class="table table-condensed bs-glyphicons">
                <thead></thead>
                <tbody>
                <tr>
                    <td class="text-center"><span class="glyphicon glyphicon-list-alt"></span></td>
                    <td class="text-center">{{ achievements.TotalExercises }}</td>
                    <td>Total exercises taken</td>
                </tr>
                <tr>
                    <td class="text-center"><span class="glyphicon glyphicon-list"></span></td>
                    <td class="text-center">{{ achievements.TotalQuestions }}</td>
                    <td>Total questions answered</td>
                </tr>
                <tr>
                    <td class="text-center"><span class="glyphicon glyphicon-ok"></span></td>
                    <td class="text-center">{{ achievements.TotalCorrects }}</td>
                    <td>Score (=correct answers)</td>
                </tr>
                <tr>
                    <td class="text-center"><span class="glyphicon glyphicon-filter"></span></td>
                    <td class="text-center">{{ "%2.1f" % (achievements.TotalCorrects / achievements.TotalExercises) }} /
                        {{
                        "%2.1f" % (achievements.TotalCorrects / achievements.TotalQuestions * 100)}}%
                    </td>
                    <td>Average score / Accuracy</td>
                </tr>
                <tr>
                    <td class="text-center"><span class="glyphicon glyphicon-thumbs-up"></span></td>
                    <td class="text-center">{{ achievements.TotalFullScore }}</td>
                    <td>Number of full score</td>
                </tr>
                <tr>
                    <td class="text-center"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span></td>
                    <td class="text-center">{{ achievements.HighestCorrect }}</td>
                    <td>Highest score ever</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
        <div class="table-responsive panel panel-info">
            <div class="panel-heading"><strong>Words</strong></div>
            <table class="table table-condensed bs-glyphicons">
                <thead></thead>
                <tbody>
                <tr>
                    <td class="text-center"><span class="glyphicon glyphicon-font"></span></td>
                    <td class="text-center">{{ achievements.TotalTestWords }}</td>
                    <td>Total words tested</td>
                </tr>
                <tr>
                    <td class="text-center"><span class="glyphicon glyphicon-saved"></span></td>
                    <td class="text-center">{{ achievements.TotalCorrectWords }}</td>
                    <td>Total words passed</td>
                </tr>
                <tr>
                    <td class="text-center"><span class="glyphicon glyphicon-adjust"></span></td>
                    <td class="text-center">{{ "%2.2f" % (achievements.TotalTestWords / achievements.TotalWords *100)
                        }}%
                    </td>
                    <td>Tested word coverage</td>
                </tr>
                <tr>
                    <td class="text-center"><span class="glyphicon glyphicon-ok-sign"></span></td>
                    <td class="text-center">{{ "%2.2f" % (achievements.TotalCorrectWords / achievements.TotalWords *100)
                        }}%
                    </td>
                    <td>Passed word coverage</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
    <div class="table-responsive panel panel-info">
        <div class="panel-heading"><strong>Distribution of Word Levels</strong></div>
        <table class="table table-condensed bs-glyphicons">
            <thead></thead>
            <tbody>
            {% if achievements.WordScores %}
            {% for ws in achievements.WordScores %}
            <tr>
                <td>{% if ws.level == 1 %}<span class="glyphicon glyphicon-sort-by-order">{% endif %}</td>
                <td class="text-center">Level {{ ws.level }}</td>
                <td class="text-right">{{ ws.count }}</td>
                <td>words</td>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
        </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}