{% extends "englicise/base.html" %}

{% block title %}Studious Prime{% endblock %}

{% block page_content %}

<div id="newword" class="jumbotron">
    <!-- p>Hello, {% if current_user.is_authenticated %}{{ current_user.name }}{% else %}Stranger{% endif %}!</p-->
    <h1 id="english"></h1>
    <h2 id="chinese"></h2>
    <p id="example"></p>
    <p class="pull-right"><a id="next" class="btn btn-primary btn-lg" href="#" role="button">
        <span class="glyphicon glyphicon-refresh"></span>
            Next</a></p>
</div>
<hr />
<div class="row">
    <div class="col-md-12 col-sm-12">
    <h3>Top 5 error words:</h3>
    </div></div>
<div class="row">
    {% if words %}
    {% for word in words %}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail bs-callout bs-callout-warning">
            <!--img data-src="holder.js/300x300" alt="..."-->
            <div class="caption">
                <h3>{{ word.english }}<span class="pull-right">{{ word.chinese }}</span></h3>
                <p>{{ word.example }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
<div class="row">
    <div id="summary" class="col-xs-12" style="height:400px"></div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='vendor/echarts/echarts.js')}}"></script>
<script src="{{ url_for('static', filename='js/main.js')}}"></script>
{% endblock %}