{% extends "english/base.html" %}

{% block title %}English Exercise{% endblock %}
{% block navbar_title %}
<a href="{{ url_for('english.exercises') }}" class="brand-logo">Exercise</a>
{% endblock %}

{% block flash_content %}
<div class="progress exercise light-blue lighten-4 z-depth-1">
    {% if exercise.current > 0 %}
    <div class="determinate right-align white-text light-blue lighten-1"
         style="width: {{ exercise.current / exercise.total * 100}}%;">{{ exercise.current }}
    </div>
    {% endif %}
    <div style="margin-left:{{ exercise.current / exercise.total * 100}}%;">{{ exercise.total - exercise.current }}
    </div>
</div>
{{ super() }}
{% endblock %}

{% block page_content %}
<div class="section">
    <form class="col s12 exercise center-align" method="post" id="question">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="input-field col s12">
                {{ form.answer(class="form-control center-align")}}
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                {% if form.answer.errors %}
                {% for error in form.answer.errors %}
                <p class="center-align error red-text">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <h4><i class="light-blue-text text-lighten-1 material-icons prefix">g_translate</i> {{ myword.word.chinese }}
        </h4>
        <div class="row">
            <div class="col s12">
                {% if myword.word and myword.word.example %}
                {% for e in myword.word.example.split(';') %}
                <p class="center-align grey-text">{{ e }}</p>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <button class="btn btn-large waves-effect waves-light light-blue lighten-1" type="submit" name="action">
                    Next
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% if current_app.config["JS_SERVE_LOCAL"] %}
<script src="{{ url_for('static', filename='vendor/jquery/jquery.inputmask.bundle.min.js')}}"></script>
{% else %}
<script src="//cdn.bootcss.com/jquery.inputmask/3.3.3/jquery.inputmask.bundle.min.js"></script>
{% endif %}
<script>
//SET CURSOR POSITION
$.fn.setCursorPosition = function(pos) {
  this.each(function(index, elem) {
    if (elem.setSelectionRange) {
      elem.setSelectionRange(pos, pos);
    } else if (elem.createTextRange) {
      var range = elem.createTextRange();
      range.collapse(true);
      range.moveEnd('character', pos);
      range.moveStart('character', pos);
      range.select();
    }
  });
  return this;
};

        $(function(){
            $('#answer').inputmask({
                mask: "{{ form.word_mask.data }}",
                clearMaskOnLostFocus: false
            }).focus().setCursorPosition(0);
        });
</script>

{% endblock %}