{% extends "english/base.html" %}

{% block title %}Studious Prime{% endblock %}

{% block page_content %}

<div id="newword" class="card">
    <!-- p>Hello, {% if current_user.is_authenticated %}{{ current_user.name }}{% else %}Stranger{% endif %}!</p-->
    <div class="card-content">
        <!-- div class="progress light-blue lighten-4">
            <div class="indeterminate light-blue lighten-1"></div>
        </div -->
        {% if newword %}
        <h2 id="english">{{ newword.word.english }}</h2>
        <h4 id="chinese">{{ newword.word.chinese }}</h4>
        <p id="example" class="grey-text">{{ newword.word.example }}</p>
        <a id="next" class="right btn-floating btn-large waves-effect waves-light red lighten-1" href="#">
            <i class="material-icons md-36">refresh</i>
            Next</a>
        {% else %}
        <p>You have no new word yet.<br/>
            Go to <a href="{{ url_for('english.books', _anchor='new_books') }}">Books</a> page and add a new book.</p>
        {% endif %}
    </div>
    <div class="card-action">
        <div class="valign-wrapper">
            {% if newword %}
            <i class="material-icons">import_contacts</i><span
                id="book_title">{{ newword.word.lesson.book.title }}</span>&nbsp;<span
                class="right-align grey-text" id="lesson"> {{ newword.word.lesson.title }}</span>
            {% else %}
            <a style="width:100%;" class="btn btn-flat waves-effect grey lighten-4"
               href="{{ url_for('english.books', _anchor='new_books') }}">Add New Book</a>
            {% endif %}
        </div>
    </div>

</div>
<div class="row valign-wrapper">
    <span class="col s2 center-align">Take</span>
    <a class="col s4 btn waves-effect waves-light light-blue lighten-3" href="{{ url_for('english.recognition') }}">Recognition</a>
    <span class="col s2 center-align">or</span>
    <a class="col s4 btn waves-effect waves-light light-blue" href="{{ url_for('english.exercises') }}">Exercises</a>
</div>
<ul id="error_words" class="card collapsible" data-collapsible="expandable">
    <li>
        <div class="collapsible-title light-blue lighten-1 white-text">Top 5 error words</div>
    </li>
    {% if error_words %}
    {% for error_word in error_words %}
    <li class="">
        <div class="collapsible-header row"><span class="col s5">{{ error_word.word.english }}</span><span
                class="col s5 grey-text">{{ error_word.word.chinese }}</span>
            <span class="col s2 grey-text"><i class="material-icons center">arrow_drop_down</i></span></div>
        <div class="collapsible-body grey lighten-4"><p class="grey-text"><span>{{ error_word.word.example }}</span>
            <span class="right right-align">errors: {{ error_word.tested - error_word.passed }}</span></p></div>
    </li>
    {% endfor %}
    {% else %}
    <li>
        <div class="collapsible-header row" style="line-height: 2rem;">
            <span class="grey-text">You do not have any error words.<br/>
            Go and take some <a href="{{ url_for('english.exercises') }}">exercises</a>.</span>
        </div>
    </li>
    {% endif %}
</ul>

<div class="card">
    <div class="collapsible-title light-blue lighten-1 white-text">Scores</div>
    <div id="summary" class="col-xs-12" style="height:300px"></div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% if current_app.config["JS_SERVE_LOCAL"] %}
<script src="{{ url_for('static', filename='vendor/echarts/echarts.min.js') }}"></script>
{% else %}
<script src="//cdn.bootcss.com/echarts/3.3.2/echarts.min.js"></script>
{% endif %}
<script src="{{ url_for('static', filename='js/main.js')}}"></script>
{% endblock %}