{% extends "main/base.html" %}

{% block title %}Login{% endblock %}
{% block navbar_title %}
<a href="#" class="brand-logo">Login</a>
{% endblock %}

{% block page_content %}
<div class="section row">
    <form class="col m6 offset-m3" method="post" id="login">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="input-field col s12">
                {{ form.username(class="validate") }}
                {{ form.username.label() }}
            </div>

            <div class="input-field col s12">
                {{ form.password(class="validate") }}
                {{ form.password.label() }}
            </div>
            <div class="input-field col s12">
                {{ form.remember_me() }}
                {{ form.remember_me.label() }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 center">
                {{ form.submit(class="waves-effect waves-light btn light-blue lighten-1") }}
            </div>
        </div>
    </form>

    <p class="center-align">Or <u><a href=" {{ url_for('main.register') }}" class="">register</a></u> for free</p>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}