{% extends "material/base.html" %}

{% block title %}Studious Prime{% endblock %}

{% block head %}
{% if current_app.config["CSS_SERVE_LOCAL"] %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/material-icons.css') }}">
{% else %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/materialize/0.97.8/css/materialize.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css
">
{% endif %}
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block navbar %}
<header>
    <nav class="light-blue lighten-1 {% block nav_class %}{% endblock %}" role="navigation">
        <div class="nav-wrapper container">
        <span class="brand-logo">
        {% block navbar_title %}{% endblock %}
        </span>
            <a href="#" data-activates="slide-out" class="button-collapse right"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% block navbar_content %}{% endblock %}
            </ul>
            <ul class="side-nav" id="slide-out">
                <li>
                    <div class="userView light-blue lighten-1">
                        <!-- div class="background">
                            <img src="images/office.jpg">
                        </div>
                        <a href="#!user"><img class="circle" src="images/yuna.jpg"></a -->
                        <a href="#!name"><span class="white-text name">
                        {% if current_user %}{{ current_user.name }}{% else %}Guest{% endif %}
                    </span></a>
                        {% if current_user %}
                        <a href="#!email"><span class="white-text email">{{ current_user.email }}</span></a>
                        {% endif %}
                    </div>
                </li>
                {% block sidenav_content %}{% endblock %}
            </ul>
            {% block navbar_tabs %}{% endblock %}
        </div>
    </nav>
    {% block flash_content %}
    <!--
{% for message in get_flashed_messages() %}
<div class="alert alert-warning text-center">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}
-->
    {% endblock %}
</header>
{% endblock %}

{% block content %}

<main>
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
</main>
{% endblock %}


{% block footer %}
<footer class="page-footer light-blue lighten-1">
    <div class="footer-copyright">
        <div class="container">
            © 2016 Gloomymoon
            <a class="btn-flat btn-floating waves-effect waves-light light-blue lighten-1 right" href="#!"><i
                    class="material-icons">help_outline</i></a>
        </div>
    </div>
</footer>
{% endblock %}

{% block scripts %}
{% if current_app.config["JS_SERVE_LOCAL"] %}
{{ super() }}
<script src="{{ url_for('static', filename='vendor/jquery/jquery-migrate-1.4.1.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/moment-with-locales.min.js') }}"></script>
{% else %}
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/materialize/0.97.8/js/materialize.min.js"></script>
<script src="//cdn.bootcss.com/jquery-migrate/1.4.1/jquery-migrate.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.17.0/moment-with-locales.min.js"></script>
{% endif %}
<script>
moment.locale("en");
function flask_moment_render(elem) {
    $(elem).text(eval('moment("' + $(elem).data('timestamp') + '").' + $(elem).data('format') + ';'));
    $(elem).removeClass('flask-moment').show();
}
function flask_moment_render_all() {
    $('.flask-moment').each(function() {
        flask_moment_render(this);
        if ($(this).data('refresh')) {
            (function(elem, interval) { setInterval(function() { flask_moment_render(elem) }, interval); })(this, $(this).data('refresh'));
        }
    })
}
$(document).ready(function() {
    flask_moment_render_all();
    $(".button-collapse").sideNav({
        edge: 'right',
        closeOnClick: true,
        draggable: true
    });
    {% for message in get_flashed_messages() %}
        Materialize.toast('{{ message }}', 4000);
    {% endfor %}

});




</script>
{% endblock %}
